<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Currency Converter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA7CF5C81F3981000098EE58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7CF5DC1F3981040098EE58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7CF5E71F3981060098EE58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
